

@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Syne:wght@400..800&display=swap');




@import "tailwindcss";


@theme {
  --font-Carter :  "Carter One", system-ui;
  --font-rubik :   "Rubik", sans-serif;
}

@theme {
  --color-white: #FFFFFF;
  --color-tahiti: #3ab7bf;
  --color-dark: #00002C;
  --color-bermuda: #78dcca;
}


@theme {
  --text-24: 1.5rem; 
  --text-75: 75px; 
  --text-28: 28px; 
  --text-8: 8px; 
  --text-18: 18px; 
}